@tailwind base;
@tailwind components;
@tailwind utilities;

.my-bg-class {
  background-image: url("../assets/ee.jpg");
  background-position: center;
  background-size: cover;
}

.bg-img {
  background-image: linear-gradient(90deg, #0008, #0008), url("../assets/f.jpg");
  background-position: center;
  background-size: cover;
}
